.App {
  text-align: center;
}

body{
  padding: 5px;
  margin: 5px;
	font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif; 
  /* background: #ADD8E6;   */
  background: no-repeat center center fixed;
  background-image: url(./image2.jpg);
  background-size: cover;
}


/* Removing extra line from input field in material ui */
input:not([read-only]) {
	border-bottom: none!important;
  box-shadow: none!important;	
} 
label{
  margin:'4px';
}

.login__form{
  position: absolute; 
  left: 50%; 
  top: 50%;  
  transform: translate(-50%, -50%);  
  text-align:center;
}

.login__button{
  position: absolute; 
  left: 50%; 
  top: 80%;  
  transform: translate(-50%, -50%);  
  text-align:center;
  width: 270px;
}

.todo__form{
  position: absolute; 
  text-align:left;
  width:600px;
  border: 5px solid lightseagreen; 
  height: calc(50% + 200px);
  overflow-y: scroll;
}

.message{
  color:red;
  font-weight: bold;
}

.form{
  position: absolute; 
  left: 50%; 
  top: 30%;  
  transform: translate(-50%, -50%); 
  width:600px;
  height: 200px; 
}

::-webkit-scrollbar {
  display: none;
}